body{
	margin:0;
	padding: 0;
}
.beijing{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	background: url(../image/0890050016.jpg);
	background-size: 100% 100%;
	
}
#canvas{
	display: block;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-300px; 
	margin-top:-300px;
	box-shadow: 0 0 3px #000;
}
#canvas2{
	display: block;
	position: absolute;
	left:50%;
	top:50%;
	z-index: 5;
	margin-left:-300px; 
	margin-top:-300px;
	box-shadow: 0 0 3px #000;
}
#chongzhi{
	position: absolute;
	top:30%;
	left:10%;
	width:50px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #000;

}
/* #huiqi{
	position: absolute;
	top:43%;
	left:10%;
	width:50px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
} */